.fusion-secondary-main-menu { border-bottom: 5px solid #22A2D7 !important; }

.fusion-header { background-size: 780px auto; background-position: center 0px !important; border-bottom: 3px solid #22A2D7 !important; }
@media only screen and (max-width: 955px) { .fusion-header { background-image: none !important; } }

.fusion-header-tagline { font-size: 1.25rem !important; color: #444 !important; }

#header-medical-logos { margin-top: 10px; }
#header-medical-logos img { height: 70px; width: auto; margin-right: 6px; }
#header-medical-logos img#aao { display: block; margin-bottom: 10px; }

@media only screen and (max-width: 955px) { .fusion-logo { height: 120px !important; }
  .fusion-header-content-3-wrapper { position: relative; top: -45px; }
  #header-medical-logos { margin-top: 0; }
  #header-medical-logos img { height: 45px; width: auto; }
  #header-medical-logos img#aao { display: initial; } }
.fusion-testimonials.clean .author { font-size: 12px; line-height: 18px; letter-spacing: 2px; }

.fusion-header-v4 .fusion-header { padding-top: 10px; padding-bottom: 15px; }

.tab-link .fusion-tab-heading { color: #fff !important; }

.tab-link:hover .fusion-tab-heading { color: #000 !important; }

.active .fusion-tab-heading { color: #000 !important; }

.shadow-1 { box-shadow: 0 0.0625rem 0.25rem 0 rgba(0, 0, 0, 0.37); }

.shadow-2 { box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 0.625rem 0 rgba(0, 0, 0, 0.3); }

.shadow-3 { box-shadow: 0 0.6875rem 0.4375rem 0 rgba(0, 0, 0, 0.19), 0 0.8125rem 1.5625rem 0 rgba(0, 0, 0, 0.3); }

.shadow-4 { box-shadow: 0 0.875rem 0.75rem 0 rgba(0, 0, 0, 0.17), 0 1.25rem 2.5rem 0 rgba(0, 0, 0, 0.3); }

.shadow-5 { box-shadow: 0 1.0625rem 1.0625rem 0 rgba(0, 0, 0, 0.15), 0 1.6875rem 3.4375rem 0 rgba(0, 0, 0, 0.3); }

.fusion-flip-boxes.no-bottom-margin { margin-bottom: 0; }
.fusion-flip-boxes.no-bottom-margin .flip-box-inner-wrapper { min-height: none; }
.fusion-flip-boxes.no-bottom-margin .flip-box-inner-wrapper .flip-box-front { box-shadow: 0 0.0625rem 0.25rem 0 rgba(0, 0, 0, 0.37); padding: 0 0 16px; }
.fusion-flip-boxes.no-bottom-margin .flip-box-inner-wrapper .flip-box-front .flip-box-front-inner { margin-top: 0 !important; }
.fusion-flip-boxes.no-bottom-margin .flip-box-inner-wrapper .flip-box-front .flip-box-front-inner .flip-box-image img { max-width: 360px; width: 100%; height: auto; }
.fusion-flip-boxes.no-bottom-margin .flip-box-inner-wrapper .flip-box-back { box-shadow: 0 0.0625rem 0.25rem 0 rgba(0, 0, 0, 0.37); }
.fusion-flip-boxes.no-bottom-margin .flip-box-inner-wrapper .flip-box-back .flip-box-back-inner { margin: 0 !important; }
.fusion-flip-boxes.no-bottom-margin .flip-box-inner-wrapper .flip-box-back .flip-box-back-inner p { margin-bottom: 8px; }

.fusion-secondary-main-menu { box-shadow: 0 0.0625rem 0.25rem 0 rgba(0, 0, 0, 0.37) !important; }

.fusion-main-menu > ul > li > a { padding: 2px 8px; }
.fusion-main-menu > ul > li > a:hover { border-color: #22a2d7; background-color: #22a2d7; color: #fff !important; }

.fusion-main-menu .sub-menu li a:hover { color: #fff; }

.fusion-main-menu .current-menu-ancestor > a, .fusion-main-menu .current-menu-item > a, .fusion-main-menu .current-menu-parent > a, .fusion-main-menu .current_page_item > a { border-color: #22a2d7; background-color: #22a2d7; color: #fff !important; }

.fusion-secondary-menu ul li { background: #FDD835; }
.fusion-secondary-menu ul li a { color: #000; font-size: 1.125rem; }
.fusion-secondary-menu ul li:hover { background: #22A2D7; }
.fusion-secondary-menu ul li:hover a { color: #fff; }

.fusion-copyright-notice { color: #000; }

.index-content-box .fusion-column-wrapper h3 { text-align: center; font-size: 28px; line-height: 1.5; margin-top: 0; }
