.fusion-flip-boxes.no-bottom-margin {
	margin-bottom: 0;

	.flip-box-inner-wrapper {
		min-height: none;

		.flip-box-front {
			box-shadow: $z-1;
			padding: 0 0 16px;

			.flip-box-front-inner {
				margin-top: 0 !important;

				.flip-box-image {
					img {
						max-width: 360px;
						width: 100%;
						height: auto;
					}
				}
			}
		}

		.flip-box-back {
			box-shadow: $z-1;

			.flip-box-back-inner {
				margin: 0 !important;

				p {
					margin-bottom: 8px;
				}
			}
		}
	}
}
