.header-font {
	font-family: $header-font;
}

.body-font {
	font-family: $body-font;
	font-weight: normal;
}

.underlined {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.text-color-white {
	color: #fff;

	* {
		color: #fff;
	}
}

a.hover-underline {
	&:hover {
		text-decoration: underline;
	}
}
