.fusion-testimonials.clean .author {
	font-size: rem-calc(12);
	line-height: rem-calc(18);
	letter-spacing: rem-calc(2);
}

.fusion-header-v4 .fusion-header {
	padding-top: rem-calc(10);
	padding-bottom: rem-calc(15);
}

.tab-link {
	.fusion-tab-heading {
		color: #fff !important;
	}

	&:hover {
		border-top: rem-calc(3) solid $dark-blue !important;

		.fusion-tab-heading {
			color: #000 !important;
		}
	}
}

.active {
	.fusion-tab-heading {
		color: #000 !important;
	}
}
