// ----------------------------------------------
// |            typography Variables            |
// ----------------------------------------------
$global-font-size: 100% !default;
$header-font: 'Raleway';
$body-font: 'PTSansRegular', Arial, Helvetica, sans-serif;
