// ----------------------------------------------
// |            typography Variables            |
// ----------------------------------------------
$header-font: 'Raleway';
$body-font: 'PTSansRegular', Arial, Helvetica, sans-serif;


// COLORS // ---------------------------------------------------------------------- //
$yellow: #fdd835;
$dark-blue: #115598;
$light-blue: #22a2d7;
