.index-content-box {
	.fusion-column-wrapper {
		h3 {
			text-align: center;
			font-size: rem-calc(28);
			line-height: 1.5;
			margin-top: 0;
		}
	}
}


#index-flip-boxes {
	.flip-boxes {
		.flip-box-back {
			padding: rem-calc(24) rem-calc(16);
		}
	}
}

.index-content-box-link {
	color: #fff !important;

	h2 {
		color: #fff !important;
		font-size: 30px !important;
	}
}
