.index-content-box {
	.fusion-column-wrapper {
		h3 {
			text-align: center;
			font-size: rem-calc(28);
			line-height: 1.5;
			margin-top: 0;
		}
	}
}


#index-flip-boxes {
	.fusion-flip-boxes {
		margin-bottom: 0;

		.flip-box-inner-wrapper {
			min-height: none;

			.flip-box-front {
				box-shadow: $z-1;
				padding: 0 0 rem-calc(16);
				overflow: hidden;

				.flip-box-front-inner {
					margin-top: 0 !important;

					.flip-box-image {
						img {
							width: 100%;
							max-height: 250px;
							object-fit: cover;
						}
					}
				}
			}

			.flip-box-back {
				box-shadow: $z-1;
				padding: 24px 16px;

				.flip-box-back-inner {
					margin: 0 !important;

					h3 {
						font-size: 26px !important;
					}

					p {
						margin-bottom: 8px !important;
						font-size: 20px !important;
						lin-height: 1.4 !important;
					}

					a:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

.index-content-box-link {
	color: #fff !important;

	h2 {
		color: #fff !important;
		font-size: 30px !important;
	}

	.content-container {
		color: #fff !important;
		font-size: 20px !important;
		line-height: 1.6 !important;
	}

	a.fusion-read-more-button {
		border-radius: rem-calc(20) !important;
		padding: rem-calc(15 30) !important;

		span.fusion-button-text {
			font-size: rem-calc(20) !important;
			line-height: 1 !important;
		}
	}
}
