@import "../_settings.scss";

.fusion-testimonials.clean .author{
	font-size:12px;
	line-height:18px;
	letter-spacing:2px;
}

.fusion-header-v4 .fusion-header {
	padding-top: 10px;
	padding-bottom: 15px;
}

// .tab-link .fusion-tab-heading {
// 	color: #fff !important;
// }

// .tab-link:hover .fusion-tab-heading {
// 	color: #000 !important;
// }

// .active .fusion-tab-heading {
// 	color: #000 !important;
// }

.tab-link {
	.fusion-tab-heading {
		color: #fff !important;
	}

	&:hover {
		border-top: 3px solid $dark-blue !important;

		.fusion-tab-heading {
			color: #000 !important;
		}
	}
}

.active {
	.fusion-tab-heading {
		color: #000 !important;
	}
}

