$maxWidth-955: 'only screen and (max-width : 59.688rem)';

.fusion-secondary-main-menu {
	border-bottom: rem-calc(5) solid #22a2d7 !important;
}

.fusion-header {
	background-size: rem-calc(780) auto;
	background-position: center 0 !important;
	border-bottom: rem-calc(3) solid #22a2d7 !important;

	@media #{$maxWidth-955} {
		background-image: none !important;
	}
}

.fusion-header-tagline {
	font-size: rem(20) !important;
	color: #444 !important;
}

#content-3-search-box {
	// position: relative;
	// top: -40px;
	// left: 290px;
}

#header-medical-logos {
	// position: relative;
	// top: 30px;
	margin-top: rem-calc(10);

	img {
		height: rem-calc(70);
		width: auto;
		margin-right: rem-calc(6);
	}

	img#aao {
		display: block;
		margin-bottom: rem-calc(10);
	}
}

@media #{$maxWidth-955} {
	.fusion-logo {
		height: rem-calc(120) !important;
	}

	.fusion-header-content-3-wrapper {
		position: relative;
		top: rem-calc(-45);
	}

	#header-medical-logos {
		margin-top: 0;

		img {
			height: rem-calc(45);
			width: auto;
		}

		img#aao {
			display: initial;
		}
	}
}
