.fusion-secondary-main-menu {
	box-shadow: $z-1 !important;
}

.fusion-main-menu > ul > li > a {
	padding: rem-calc(2) rem-calc(8);

	&:hover {
		border-color: #22a2d7;
		background-color: #22a2d7;
		color: #fff !important;
	}
}

.fusion-main-menu .sub-menu li a:hover {
	color: #fff;
}

.fusion-main-menu .current-menu-ancestor > a,
.fusion-main-menu .current-menu-item > a,
.fusion-main-menu .current-menu-parent > a,
.fusion-main-menu .current_page_item > a {
	border-color: #22a2d7;
	background-color: #22a2d7;
	color: #fff !important;
}

.index-menu-contact-link {
	a {
		background-color: #fff !important;
		color: #333 !important;

		.menu-text {
			color: #333 !important;
		}
	}

	&:hover {
		a {
			border-color: #22a2d7 !important;
			background-color: #22a2d7 !important;
			color: #fff !important;

			.menu-text {
				border-color: #22a2d7;
				background-color: #22a2d7;
				color: #fff !important;
			}
		}
	}
}
